@import "settings";

@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/screenreaders";

@import "~bootstrap/scss/type";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/forms";

.img-fluid {
  @include img-fluid();
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Raleway:wght@300&display=swap");

@include media-breakpoint-up(md) {
  body {
    font-size: 1.125rem;
  }

  h1,
  .h1 {
    font-size: 1.8rem;
  }

  h2,
  .h2 {
    font-size: 1.75em;
  }
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  line-height: 1.5;
}

.hero {
  position: relative;
  min-height: 100px;

  &__img {
    position: absolute;
    width: auto;
    height: auto;
    max-height: none;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
  }

  @include media-breakpoint-up(md) {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    clip-path: polygon(0px 0px, 100% 0px, 100% 107%, 0 129.66%);

    &__body {
      clip-path: polygon(10% 0px, 100% 0px, 90% 100%, 0px 100%);
      padding: 10px 60px;
      margin-bottom: -47px;
      z-index: 1;
    }
  }
}

.theme {
  &--primary {
    background-color: #f5b700;
  }

  &--secondary {
    background-color: #465741;
    color: #fff;
  }

  &--tertiary {
    background-color: #141217;
    color: #fff;
    @media (prefers-color-scheme: dark) {
      background-color: #141217;
      color: #fff;
    }

    @media (prefers-color-scheme: light) {
      background-color: #fff;
      color: #141217;
    }
  }
}
